body{
	background: saddlebrown;
}
.container{
	background-image: url(http://fc07.deviantart.net/fs40/f/2009/037/5/a/well_worn_outdoor_poker_table_by_N3X_.jpg)
}

.new-game, .deal, .dealer-hit, .player-hit{
	margin: auto;
	background: saddlebrown;
	color: white;
	font-size: 1.5em;
}


h1{
	text-align: center;
	margin: 100px auto 20px;
	background: black;
	color: white;
	border: gold 5px dashed;
	border-radius: 5px;
}

.dealer, .player{
	color: white;
}

.card-space{
	min-height: 135px;
}

img{
	float: left;
	margin: 20px;
	max-width: 125px;
}