body{
	background: saddlebrown;
}
.container{
	background-image: url(/img/blackjack-background.jpg);
}

.new-game, .deal, .dealer-hit, .player-hit, .dealer-stay, .player-stay{
	margin-right: 15px;
	background: saddlebrown;
	color: white;
	font-size: 1.5em;
}


h1{
	text-align: center;
	margin: 100px auto 20px;
	background: black;
	color: white;
	border: gold 5px dashed;
	border-radius: 5px;
}

.dealer, .player{
	color: white;
}

.card-space{
	min-height: 135px;
}

img{
	float: left;
	margin: 20px;
	max-width: 125px;
}